<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.codingbamboo.miniproject.material.dto.MaterialDTO" alias="MaterialDTO"/>
		<typeAlias type="com.codingbamboo.miniproject.user.dto.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.codingbamboo.miniproject.part.dto.PartDTO" alias="PartDTO"/>
		<typeAlias type="com.codingbamboo.miniproject.coefficient.dto.CoefficientDTO" alias="CoefficientDTO"/>
		<typeAlias type="com.codingbamboo.miniproject.answer.dto.AnswerDTO" alias="AnswerDTO"/>
		<typeAlias type="com.codingbamboo.miniproject.board.dto.BoardDTO" alias="BoardDTO"/>
	</typeAliases>
</configuration>